*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    padding: 50px;

}
header{
    min-height: 10vh;
    width: 100%;
    background-color: yellow;
    display: inline-block;
    
}
h1{
    display: inline-block;
    padding: 2rem;
    font-size: 2rem;
    
}
header>nav{
    display:inline-block;
    padding: 2rem;
    
}

nav>a{
    padding: 10px;
    background-color: cyan;
    margin: 10px;
    text-decoration: none;
}
a:active{
    background-color: green;
}

/*contenido principal*/

main{
    min-height: 80vh;
    
}
.subtitle{
    background-color: black;
    color: white;
    text-align: center;
}
#logo{
    width: 150px;
}


#banner-image{
    width: 100%;
}

.imagen{
    width: 200px;
    height: 200px;
}
.container{
    display: inline;
    
}
.content{
    display: inline-block;
    padding: 15px;
    
    
}
.content2{
    width: 60%;
    
}
